.info {
    padding: 3px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.tool-tip-rodal{
    padding: 1px 1px 1px 1px;
}

.legend {
    line-height: 18px;
    color: #555;
    min-width: 200px;
    max-width: 200px;
    max-height: 250px;
    overflow: auto;
    padding: 15px 15px 15px 15px;
}
.div_leg_item{
    margin-top: 4px;
    margin-bottom: 4px;
}

.legend i {
    width: 28px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}
.leaflet-bottom leaflet-left{

}
